.container {
  height: 100%;
  flex: 1;

  @include center
}

.wrapper {
  @include center;
  flex-direction: column;
}

.title {
  font-family: GrtskTera;
  font-weight: 700;
  font-size: 10rem;

  @include respond(sm) {
    font-size: 8rem;
  }
}

.subtitle {
  font-size: 3.8rem;
  @include respond(sm) {
    font-size: 2.8rem;
  }
}

.smiley {
  width: 200px;
  @include respond(sm) {
    width: 180px;
  }
}