@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ProximaNovaA';
  src: url('../assets/fonts/ProximaNova/ProximaNovaA-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// GrtskTera
@font-face {
  font-family: 'GrtskTera';
  src: url('../assets/fonts/GrtskTera/GrtskTera-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrtskTera';
  src: url('../assets/fonts/GrtskTera/GrtskTera-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrtskTera';
  src: url('../assets/fonts/GrtskTera/GrtskTera-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GrtskTera';
  src: url('../assets/fonts/GrtskTera/GrtskTera-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}