@forward 'fonts';

* {
  box-sizing: border-box;
}

:root {
  font-family: ProximaNovaA, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;

  color: #111417;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/colorful-explosion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

ul {
  list-style: none;
}

ul, p, h1, h2, h3 {
  padding: 0;
  margin: 0;
}